#desktop{
    background-image: url("../rsc/bliss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

#desktop_area{
    height: 100vh;
    width: 100vw;
    position: relative;
    margin : 30px 0
}

div#startMenuHeader{
}

div#leftColumnHeader{
    background-color: white;
    position: "absolute";
}

div#rightColumnHeader{
    background-color: gray;
    position: "absolute";
}

div.startButton{
    background-color: #008D00;
    border-radius: 5px;
    text-shadow: 0px 1px black;
    color: white;
    position: absolute;
    bottom: 0;
}

div.startButton:hover{
    background-color: grey;
}

div.taskbar{
    background-color : #081BCB;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 3%;
    border-width :thin;
    border-left-style: inset;
}

div.system_tray{
    background-color: #5db3ff;
    position: absolute;
    bottom:0%;
    left: 85%;
    border-width: thin;
    border-left-style: inset;
}
