#desktop{
    background-color : #00FFFF;
    height : 100vh;
    width : 100vw;
}

div.menu{
    background-color: #FFFFFF;
    position: absolute;
    bottom: 2%;
}

div.menu:hover{
    background-color: #000000;
}


div.icon{

}

div.menu{

}